version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - /var/www/evangelic-history/uploads:/app/uploads
    depends_on:
      db:
        condition: service_healthy
    restart: always
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/evangelical_history?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: ZoNoV_DM1
    networks:
      - appnet

  db:
    image: mysql:8.0
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ZoNoV_DM1
      MYSQL_DATABASE: evangelical_history
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - appnet
    healthcheck:
      test: ["CMD", "mysqladmin" ,"-uroot","-pZoNoV_DM1","ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:

networks:
  appnet: