<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title data-th-text="#{title.biography}"></title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/editor.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/../static/css/to main button.css}" rel="stylesheet">
    <link th:href="@{/../static/css/background.css}" rel="stylesheet">
    <link th:href="@{/../static/css/fonts.css}" rel="stylesheet">
    <link th:href="@{/../static/css/header.css}" rel="stylesheet">
    <link th:href="@{/../static/css/footer.css}" rel="stylesheet">
    <link th:href="@{/../static/css/biographies.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="menu">
        <div class="menu_logo"></div>
        <div class="to-main">
            <a th:href="@{/index}" class="to-main-btn" data-th-text="#{header.to_main}"></a>
        </div>
        <div class="group2">
            <a th:href="@{/about}" class="menu-button-about" data-th-text="#{header.about_us}"></a>
            <a th:href="@{/history}" class="menu-button-history" data-th-text="#{header.history}"></a>
            <a th:href="@{/biographies}" class="menu-button-biography" data-th-text="#{header.biography}"></a>
            <a th:href="@{/gallery}" class="menu-button-gallery" data-th-text="#{header.gallery}"></a>
            <a th:href="@{/events}" class="menu-button-events" data-th-text="#{header.event}"></a>
        </div>
    </div>
    <div class="background">
        <div class="biographies-title">
            <text>Биографии</text>
        </div>
        <div class="biographies-period-1">
            <div class="timeline"></div>
            <div class="timeline-line"></div>
            <div class="biographies-title-portraits-field">
                <div class="biographies-periods-title">
                    <text>XVI век: истоки</text>
                </div>
                <div class="biographies-portraits-field-1-stroke">
                    <div class="biographies-portrait-name-field-first">
                        <div class="biographies-portrait">
                            <img th:src="@{../static/img/heroes/XVI century/Ivan_Fedorov.png}">
                        </div>
                        <div class="biographies-name">
                            <text>Иван Фёдоров</text>
                        </div>
                    </div>
                    <div class="biographies-portrait-name-field">
                        <div class="biographies-portrait">
                            <img th:src="@{../static/img/heroes/XVI century/Francis_Scorina.png}">
                        </div>
                        <div class="biographies-name">
                            <text>Франциск Скорина</text>
                        </div>
                    </div>
                    <div class="biographies-portrait-name-field">
                        <div class="biographies-portrait">
                            <img th:src="@{../static/img/heroes/XVI century/Hans_Missengein.png}">
                        </div>
                        <div class="biographies-name">
                            <text>Ганс Миссенгейн</text>
                        </div>
                    </div>
                    <div class="biographies-portrait-name-field">
                        <div class="biographies-portrait">
                            <img th:src="@{../static/img/heroes/XVI century/Petr_Mstislavcev.png}">
                        </div>
                        <div class="biographies-name">
                            <text>Петр Мстиславцев</text>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="biographies-period-2">
            <div class="timeline"></div>
            <div class="timeline-line"></div>
            <div class="biographies-title-portraits-field">
                <div class="biographies-periods-title">
                    <text>XVII-XVII века: эпоха подготовки почвы</text>
                </div>
                <div class="biographies-portraits-field-1-stroke">
                    <div class="biographies-portrait-name-field-first">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                </div>
            </div>
        </div>
        <div class="biographies-period-3">
            <div class="timeline"></div>
            <div class="timeline-line"></div>
            <div class="biographies-title-portraits-field">
                <div class="biographies-periods-title">
                    <text>XIX век: рождение евангельского движения</text>
                </div>
                <div class="biographies-portraits-field-3-strokes">
                    <div class="biographies-portrait-name-field-first">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field-first">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field-first">

                    </div>
                </div>
            </div>
        </div>
        <div class="biographies-period-4">
            <div class="timeline"></div>
            <div class="timeline-line"></div>
            <div class="biographies-title-portraits-field">
                <div class="biographies-periods-title">
                    <text>XX век: испытания, войны, возрождение</text>
                </div>
                <div class="biographies-portraits-field-3-strokes">
                    <div class="biographies-portrait-name-field-first">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field-first">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field-first">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                </div>
            </div>
        </div>
        <div class="biographies-period-5">
            <div class="timeline-end"></div>
            <div class="timeline-line"></div>
            <div class="biographies-title-portraits-field">
                <div class="biographies-periods-title">
                    <text>XXI век: хранители памяти и исследователи</text>
                </div>
                <div class="biographies-portraits-field-2-strokes">
                    <div class="biographies-portrait-name-field-first">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field">

                    </div>
                    <div class="biographies-portrait-name-field-first">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script th:src="@{/../static/js/up-button.js}"></script>
</body>
<footer class="footer">
    <div class="footer-logo"></div>
    <div class="footer-buttons-group">
        <a th:href="@{/}" class="footer-button-main-page" data-th-text="#{footer.main}"></a>
        <a th:href="@{/about}" class="footer-button-about" data-th-text="#{footer.about_us}"></a>
        <a th:href="@{/history}" class="footer-button-history" data-th-text="#{footer.history}"></a>
        <a th:href="@{/biographies}" class="footer-button-biography" data-th-text="#{footer.biography}"></a>
        <a th:href="@{/gallery}" class="footer-button-gallery" data-th-text="#{footer.gallery}"></a>
        <a th:href="@{/event}" class="footer-button-events" data-th-text="#{footer.event}"></a>
        <a th:href="@{/privacy_policy}" class="footer-button-confidential" data-th-text="#{footer.privacy}"></a>
    </div>
    <a th:href="#{footer.rutube_link}" class="footer-button-rutube"></a>
    <a th:href="#{footer.vk_link}" class="footer-button-vk"></a>
    <div class="footer-button-phone"></div>
    <div class="marking" data-th-text="#{footer.marking}"></div>
</footer>
</html>