<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title data-th-text="#{title.main}"></title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/editor.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/../static/css/index.css}" rel="stylesheet">
    <link th:href="@{/../static/css/background.css}" rel="stylesheet">
    <link th:href="@{/../static/css/fonts.css}" rel="stylesheet">
    <link th:href="@{/../static/css/header.css}" rel="stylesheet">
    <link th:href="@{/../static/css/footer.css}" rel="stylesheet">
</head>

<body>
<div class="wrapper">
<div class="menu">
    <div class="menu_logo"></div>
    <div class="group2">
        <a th:href="@{/about}" class="menu-button-about" data-th-text="#{header.about_us}"></a>
        <a th:href="@{/history}" class="menu-button-history" data-th-text="#{header.history}"></a>
        <a th:href="@{/biographies}" class="menu-button-biography" data-th-text="#{header.biography}"></a>
        <a th:href="@{/events}" class="menu-button-events" data-th-text="#{header.event}"></a>
    </div>
</div>
<div class="background-1">
    <div class="banner-img">
        <div class="main-title">
            <text>Евангельские христиане</text>
        </div>
        <div class="main-title1">
            <text>на службе России</text>
        </div>
    </div>
    <div class="torn-edge1"></div>
</div>
<div class="background-2">
    <div class="about-main">
        <div class="about-tiles-group">
            <div class="about-tile">
                <div class="title-1">
                    <text>150 ЛЕТ ИСТОРИИ</text>
                </div>
                <div class="text">
                    <text>— от первых евангельских общин
                        XIX века до современности.</text>
                </div>
            </div>
            <div class="about-tile">
                <div class="title">
                    <text>Передвижные выставки и лекции</text>
                </div>
                <div class="text">
                    <text>— проект знакомит жителей Калининградской области с историей через экспозиции и публичные встречи.</text>
                </div>
            </div>
            <div class="about-tile">
                <div class="title">
                    <text>ДЕСЯТКИ ГЕРОЕВ ВОЙНЫ</text>
                </div>
                <div class="text">
                    <text>— евангельские христиане
                        сражались и жертвовали жизнью
                        в годы Первой мировой и Великой
                        Отечественной войн.</text>
                </div>
            </div>
            <div class="about-tile">
                <div class="title">
                    <text>УНИКАЛЬНЫЕ ВИДЕОИНТЕРВЬЮ</text>
                </div>
                <div class="text">
                    <text>— живые свидетельства потомков, собранные специально для проекта.</text>
                </div>
            </div>
        </div>
        <div class="about-text-group">
            <div class="about-text-group-title">
                <text>Просвещение, сохранение памяти, разрушение стереотипов</text>
            </div>
            <div class="about-text-group-title2">
                <text>“Евангельские христиане – часть российской истории, внесшая духовный и патриотический вклад”.</text>
            </div>
        </div>
        <div class="more-btn">
            <a class="link" th:href="@{/about}" th:text="#{index.about}"></a>
        </div>
    </div>
</div>
<div class="background-3">
    <div class="torn-edge2"></div>
    <div class="video-archive">
        <div class="video-archive-text-title">
            <text>Видеоархив</text>
        </div>
        <div class="video-archive-text-title-2">
            <text>"Они служили России"</text>
        </div>
        <div class="video-teasers">
            <div class="video-teasers-tile">
                <div class="video-teasers-portraits">
                    <img th:src="@{/../static/img/heroes/Ivan_Shatalin.jpg}" class="cover">
                </div>
                <div class="video-teasers-title">
                    <text>Подвиг Ивана Шаталина</text>
                </div>
            </div>
            <div class="video-teasers-tile">
                <div class="video-teasers-portraits">
                    <img th:src="@{/../static/img/heroes/Vasiliy_Fedichkin.jpg}" class="cover">
                </div>
                <div class="video-teasers-title">
                    <text>История Василия Федичкина</text>
                </div>
            </div>
            <div class="video-teasers-tile">
                <div class="video-teasers-portraits">
                    <img th:src="@{/../static/img/heroes/Lubov_Dmitrievna.jpg}" class="cover">
                </div>
                <div class="video-teasers-title">
                    <text>Память о Любовь Дмитриевне</text>
                </div>
            </div>
        </div>
        <div class="more-btn-1">
            <a class="link-1 a1" th:href="@{/biographies}" th:text="#{index.about}"></a>
        </div>
    </div>
    <div class="torn-edge3"></div>
</div>
<div class="background-4">
    <div class="announcements">
        <div class="announcements-title-tile">
            <div class="announcements-title">
                <text>Анонсы</text>
            </div>
            <div class="announcements-title-2">
                <text>Мы будем рады встрече с Вами на мероприятиях проекта.</text>
            </div>
            <div class="more-btn-2">
                <a class="link" th:href="@{/events}" th:text="#{index.about}"></a>
            </div>
        </div>
        <div class="announcements-tile">
            <div class="announcements-tile-img">
                <img th:src="@{/../static/img/page_elements/chernyahovsk_anons.png}" class="cover">
            </div>
            <div class="anons-title-1">
                <text>Март — Черняховск</text>
            </div>
            <div class="anons-title-2">
                <text>Лекция и дискуссия</text>
                <br>
                <text>Живая история края: от Первой мировой до Великой Отечественной. Возможность задать вопросы исследователям.</text>
            </div>
        </div>
        <div class="announcements-tile">
            <div class="announcements-tile-img">
                <img th:src="@{/../static/img/page_elements/kaliningrad_anons.png}" class="cover">
            </div>
            <div class="anons-title-1">
                <text>Январь — Калининград</text>
            </div>
            <div class="anons-title-2">
                <text>Лекция-презентация проекта </text>
                <br>
                <text>Узнайте, как евангельские христиане внесли вклад в победы России. Первая встреча цикла в столице региона</text>
            </div>
        </div>
        <div class="announcements-tile">
            <div class="announcements-tile-img">
                <img th:src="@{/../static/img/page_elements/sovetsk_anons.jpg}" class="cover">
            </div>
            <div class="anons-title-1">
                <text>Февраль — Советск</text>
            </div>
            <div class="anons-title-2">
                <text>Передвижная выставка</text>
                <br>
                <text> История в фотографиях, документах и личных свидетельствах. Открытие экспозиции для жителей Советска.</text>
            </div>
        </div>
        <div class="announcements-tile">
            <div class="announcements-tile-img">
                <img th:src="@{/../static/img/page_elements/gusev_anons.jpg}" class="cover">
            </div>
            <div class="anons-title-1">
                <text>Апрель — Гусев</text>
            </div>
            <div class="anons-title-2">
                <text>Выставка и показ видеосвидетельств</text>
                <br>
                <text>Уникальные интервью потомков и редкие архивные материалы — теперь в Гусеве.</text>
            </div>
        </div>
        <div class="announcements-tile">
            <div class="announcements-tile-img">
                <img th:src="@{/../static/img/page_elements/kaliningrad_anons.png}" class="cover">
            </div>
        <div class="anons-title-1">
            <text>Май — Калининград</text>
        </div>
        <div class="anons-title-2">
            <text>Завершение проекта</text>
            <br>
            <text> Итоговая выставка и заключительная лекция. Подведение итогов, презентация видеоархива и публикация материалов</text>
        </div>
    </div>
    </div>
</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script th:src="@{../static/js/up-button.js}"></script>
</div>
</body>
<footer class="footer">
    <div class="footer-logo"></div>
    <div class="footer-buttons-group">
        <a th:href="@{/}" class="footer-button-main-page" data-th-text="#{footer.main}"></a>
        <a th:href="@{/about}" class="footer-button-about" data-th-text="#{footer.about_us}"></a>
        <a th:href="@{/history}" class="footer-button-history" data-th-text="#{footer.history}"></a>
        <a th:href="@{/biography}" class="footer-button-biography" data-th-text="#{footer.biography}"></a>
        <a th:href="@{/event}" class="footer-button-events" data-th-text="#{footer.event}"></a>
        <a th:href="@{/privacy_policy}" class="footer-button-confidential" data-th-text="#{footer.privacy}"></a>
    </div>
    <a th:href="#{footer.rutube_link}" target="_blank" rel="noopener noreferrer" class="footer-button-rutube"></a>
    <a th:href="#{footer.vk_link}" target="_blank" rel="noopener noreferrer" class="footer-button-vk"></a>
    <a href="/about#contact" class="footer-button-phone"></a>
    <a th:href="#{footer.tg_link}" target="_blank" rel="noopener noreferrer" class="footer-button-tg"></a>
    <div class="marking" data-th-text="#{footer.marking}"></div>
</footer>
</html>