body, html {
    display: flex;
    flex-direction: column;
    offset: none;
    background-color: #F9FED8;
    width: 100%;
    z-index: -5;
    height: fit-content;
}
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: -3;
    height: fit-content;
}
.background-1, .background-1-events, .background-1-history, .background-1-article {
    position: relative;
    width: 100%;
    height: 689px;
    margin-left: 50%;
    transform: translate(-50%,0);
    flex-shrink: 0;
    z-index: -1;
}
.background-1 {
    background-color: #5A062A;
}
.background-1-events {
    background-color: #F9FED8;
}
.background-1-history {
    height: 985px;
}
.background-1-article {
    height: 837px;
}
.torn-edge1 {
    width: 100%;
    height: 76px;
    position: absolute;
    bottom: 0;
    flex-shrink: 0;
    aspect-ratio: 1920/76;
    background-image: url('../img/page_elements/torn_edges/torn_edge1-2.png');
    background-repeat: no-repeat;
    z-index: 3;
}
.background-2, .background-2-events, .background-2-history, .background-2-event {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    flex-shrink: 0;
    border-color: rgba(249,254,216,0.5);
    z-index: -1;
}
.background-2-events {
    height: 850px;
}
.background-2-event {
    height: fit-content;
    margin-bottom: 10px;
}
.background-2-history {
    height: fit-content;
    background: transparent;
}
.background-3, .background-3-events {
    margin-left: 50%;
    transform: translate(-50%,0);
    flex-shrink: 0;
    z-index: -1;
    position: relative;
}
.background-3 {
    width: 100%;
    height: 1120px;
    background-color: #5A062A;
}
.background-3-events {
    width: 1278px;
    background-color: #F9FED8;
    height: fit-content;
    }
.torn-edge2 {
    width: 100%;
    height: 76px;
    position: relative;
    flex-shrink: 0;
    aspect-ratio: 1920/76;
    background-image: url('../img/page_elements/torn_edges/torn_edge2-2.png');
    z-index: 0;
}
.torn-edge3 {
    width: 100%;
    height: 76px;
    flex-shrink: 0;
    aspect-ratio: 1920/76;
    z-index: 1;
    position: relative;
    background-image: url('../img/page_elements/torn_edges/torn_edge3-2.png');
    background-repeat: no-repeat;
}
.background-4 {
    width: 100%;
    height: 832px;
    position: relative;
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%,0);
    margin-top: -232px;
    flex-shrink: 0;
    background-color: #F9FED8;
    z-index: -1;
}
.background-4-events {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 1350px;
    position: relative;
    bottom: 0;
    margin-left: 50%;
    transform: translate(-50%, 0);
    flex-shrink: 0;
    z-index: -1;
}
.upbtn {
    z-index: 9999;
    width: 58px;
    height: 58px;
    color: #FFF;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius:50%;
    transition: all .7s ease-in-out;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/page_elements/up_button.svg');
    background-color: transparent;
}
.upbtn:hover {
    transform: scale(1.2)!important;
}