.biography-portrait-field {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: fit-content;
}
.biography-portrait {
    position: relative;
    width: 1280px;
    height: 837px;
    flex-shrink: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}
.biography-portrait img {
    object-fit: cover;
}
.biography-portrait-torn-edge {
    position: absolute;
    width: 100%;
    height: 76px;
    bottom: 0;
    background-image: url("../img/page_elements/torn_edges/torn_edge3-2.png");
}
.biography-name-years-of-life-field, .videobiography-name-years-of-life-field {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    align-items: center;
    width: 1280px;
    height: 315px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.videobiography-name-years-of-life-field {
    justify-content: left;
}
.biography-name-years-of-life, .videobiography-name-years-of-life {
    display: flex;
    width: 687px;
    height: 120px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #5A062A;
    text-align: right;
    font-family: Novelist;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 100% */
    text-transform: uppercase;
}
.videobiography-name-years-of-life {
    text-align: left;
}
.biography-text {
    width: 1280px;
    flex-shrink: 0;
    color: #5A062A;
    text-align: justify;
    font-family: Gabriola;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
}
p {
    text-indent: 40px;
}
.videobiography-video-text-field {
    position: relative;
    width: 1280px;
    margin-left: 50%;
    transform: translateX(-50%);
    height: fit-content;
}
.video {
    position: relative;
    float: left;
    width: 720px;
    height: 405px;
    background-color: black;
    margin-right: 30px;
}
.biography-under-text-field {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    width: 1280px;
    height: 315px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.related-articles {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: relative;
    height: 113px;
    width: 420px;
}
.related-articles-title {
    width: 260px;
    height: 29px;
    flex-shrink: 0;
    text-align: justify;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #8D0B19;
    font-family: Novelist;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.related-articles-link {
    position: relative;
    display: flex;
    justify-content: center;
    width: 410px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 45px;
    border: 3px solid #8D0B19;
    color: #8D0B19;
    text-align: center;
    font-family: Gabriola;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}