.background-1-events {
    position: absolute;
    width: 1278px;
    height: 700px;
    margin-left: 50%;
    transform: translate(-50%,0);
    flex-shrink: 0;
    border-color: rgba(249,254,216,0.5);
    background-color: #F9FED8;
    z-index: -1;
}
.events-about {
    width: 1143px;
    height: 500px;
    flex-shrink: 0;
    position: absolute;
    top: 180px;
    margin-left: 50%;
    transform: translate(-50%,0);
    z-index: 1;
}
.events-title {
    display: flex;
    width: 800px;
    height: 249px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #5A062A;
    position: absolute;
    text-align: justify;
    font-family: Novelist;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 130px; /* 101.563% */
    text-transform: uppercase;
    z-index: 2;
}
.events-title-small {
    display: flex;
    width: 666px;
    height: 80px;
    flex-direction: column;
    justify-content: right;
    flex-shrink: 0;
    color: #0f0f0c;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    text-align: right;
    font-family: Gabriola;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 83.333% */
}
.events-title-photo {
    width: 666px;
    height: 399px;
    flex-shrink: 0;
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    background: url("../img/page_elements/stub_img.jpg") lightgray -0.657px -225.714px / 101.438% 169.037% no-repeat;
}
.events-title-description {
    display: flex;
    width: 424px;
    height: 88px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;
    z-index: 2;
    bottom: 100px;
    color: #5A062A;
    text-align: justify;
    font-family: Gabriola;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
}
.about-project-btn {
    width: 238px;
    height: 59px;
    position: absolute;
    flex-shrink: 0;
    border-radius: 45px;
    z-index: 5;
    display: flex;
    align-items: center;
    background: #5A062A;
    bottom: 0;
}
.about-project-btn:active {
    background: rgba(90,6,42,0.88);
    transform: translateY(3px);
}
.about-project-btn-text {
    display: flex;
    width: 238px;
    height: 51px;
    position: absolute;
    justify-content: center;
    margin-left: 0;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Novelist";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
    text-transform: uppercase;
}
.events-our-project {
    width: 1143px;
    height: 693px;
    flex-shrink: 0;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%,0);
    top: 110px;
}
.events-our-project-title {
    display: flex;
    width: 532px;
    height: 131px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;

    color: #5A062A;
    z-index: 5;
    text-align: left;
    font-family: Novelist;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 62.5% */
    text-transform: uppercase;
}
.events-our-project-square-1, .events-our-project-square-2,
.events-our-project-square-3, .events-our-project-square-4,
.events-our-project-square-5, .events-our-project-square-6 {
    width: 263px;
    height: 260px;
    flex-shrink: 0;
    position: absolute;
    background: #5A062A;
}
.events-our-project-square-1 {
    top: 131px;
}
.events-our-project-square-2 {
    top: 131px;
    right: 293px;
}
.events-our-project-square-3 {
    top: 131px;
    right: 0px;
}
.events-our-project-square-4 {
    bottom: 0;
    left: 293px;
}
.events-our-project-square-5 {
    bottom: 0;
    right: 293px;
}
.events-our-project-square-6 {
    bottom: 0;
    right: 0;
}
.events-our-project-square-number {
    display: flex;
    width: 78px;
    height: 79px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #F9FED8;
    position: absolute;
    top: 51px;
    margin-left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    font-family: Gabriola;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 41.667% */
}
.events-our-project-square-text-1, .events-our-project-square-text-2, .events-our-project-square-text-3 {
    display: flex;
    width: 259px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #F9FED8;
    position: absolute;
    text-align: center;
    font-family: Gabriola;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 74.074% */
}
.events-our-project-square-text-1 {
    height: 79px;
    bottom: 68px;
}
.events-our-project-square-text-2 {
    height: 79px;
    bottom: 48px;
}
.events-our-project-square-text-3 {
    height: 108px;
    bottom: 15px;
}
.xpandable-background-3 {
    width: 1278px;
    height: 1373px;
    margin-left: 50%;
    transform: translate(-50%,0);
    flex-shrink: 0;
    fill: #5A062A;
    z-index: -1;
    position: absolute;
    top: 1558px;
    background-color: blue;
}
.events-background-4 {
    width: 1278px;
    height: 832px;
    position: absolute;
    bottom: 0;
    margin-left: 50%;
    transform: translate(-50%,100%);
    flex-shrink: 0;
    background-color: black;
    z-index: -1;
}