.menu {
    background: #0F0F0C;
    width: 100%;
    height: 109px;
    margin-left: 50%;
    transform: translate(-50%,0);
    flex-shrink: 0;
    position: relative;
    z-index: 1;
}
.menu_logo {
    width: 108px;
    height: 108px;
    flex-shrink: 0;
    aspect-ratio: 108/108;
    background: url('../img/page_elements/logo/logo.png') #0f0f0c 50% / cover no-repeat;
    bottom: 1px;
    left: 12px;
    z-index: 1;
}
.group2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 538px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    flex-shrink: 0;
    right: 62px;
    z-index: 2;
}
.menu-button-about, .menu-button-history, .menu-button-biography, .menu-button-gallery, .menu-button-events {
    display: flex;
    height: 30px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Noah;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    z-index: 3;
    background: transparent;
}
.menu-button-about{
    width: 60px;
}
.menu-button-history {
    width: 84px;
}
.menu-button-biography {
    width: 110px;
}
.menu-button-gallery {
    width: 76px;
}
.menu-button-events {
    width: 126px;
}
.menu-button-about:hover, .menu-button-history:hover, .menu-button-biography:hover, .menu-button-gallery:hover, .menu-button-events:hover  {
    border: 1px solid #FFFFFF;
}
.menu-button-about:active, .menu-button-history:active, .menu-button-biography:active, .menu-button-gallery:active, .menu-button-events:active {
    border: 1px solid #FFFFFF;
    transform: translateY(2px);
}
.a1:hover {
    text-decoration: none;
    color: #5A062A;
}
a {
    position: relative;
    z-index: 10;
}
a:hover{
    text-decoration: none;
    color: #FFF;
}