.article-title-photo {
    display: flex;
    position: relative;
    width: 1200px;
    height: 837px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.article-title-photo img{
    object-fit: cover;
    aspect-ratio: 1200/837;
 }
.article-title-text {
    position: absolute;
    width: 727px;
    height: fit-content;
    z-index: 5;
    left: 46px;
    top: 267px;
    text-align: left;
    color: #F9FED8;
    text-shadow: 10px 10px 15px #000;
    font-family: "Playfair Display";
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.article-title-torn-edge {
    position: absolute;
    width: 100%;
    height: 76px;
    bottom: 0;
    z-index: 5;
    background-image: url("../img/page_elements/torn_edges/torn_edge3-2.png");
}
.article-title-field {
    display: flex;
    position: relative;
    width: 1200px;
    height: fit-content;
    justify-content: end;
    margin-left: 50%;
    transform: translateX(-50%);
}
.article-title {
    position: relative;;
    width: 874px;
    height: fit-content;
    margin-top: 73px;
    margin-bottom: 100px;
    text-align: right;
    color: #BB1023;
    font-family: "Playfair Display";
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.article-body {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 1200px;
    height: fit-content;
    justify-content: center;
    margin-bottom: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: #5A062A;
    text-align: justify;
    font-family: Gabriola;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
}