.banner-img {
    width: 100%;
    height: 689px;
    position: absolute;
    flex-shrink: 0;
    aspect-ratio: 1920/689;
    background: url('../img/page_elements/site_cover2.png') lightgray 50% / cover no-repeat;
    z-index: 3;
}
.main-title {
    width: 1000px;
    height: 114px;
    flex-shrink: 0;
    position: absolute;
    top: 184px;
    margin-left: 50%;
    transform: translate(-50%,0);
    color: #FFF;
    text-shadow: 5px 10px 10px #000;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.main-title1 {
    width: 609px;
    height: 208px;
    position: absolute;
    top: 208px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    flex-shrink: 0;
    color: #FFF;
    text-shadow: 5px 10px 10px #000;
    text-align: center;
    font-family: "Andantino script";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1198px;
    height: 556px;
    flex-shrink: 0;
    position: relative;
    margin-top: 20px;
    margin-left: 50%;
    transform: translate(-50%,0);
    z-index: 1;
}
.about-tiles-group {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 605px;
    height: 386px;
    position: relative;
    flex-shrink: 0;
    z-index: 2;
}
.about-text-group {
    width: 510px;
    height: 267px;
    position: relative;
    top: 36px;
    justify-self: flex-end;
    flex-shrink: 0;
    z-index: 2;
}
.about-tile {
    width: 296px;
    height: 181px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    flex-shrink: 0;
    border-radius: 15px;
    background: #8D0B19;
    z-index: 3;
}
.about-tile .title, .about-tile .title-1 {
    display: flex;
    width: 250px;
    height: 78px;
    position: relative;
    left: 17px;
    flex-shrink: 0;
    color: #FFF;
    text-align: left;
    font-family: "Novelist";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
    text-transform: uppercase;
}
.about-tile .title-1 {
    top: 25px;
}
.about-tile .text {
    width: 258px;
    height: 80px;
    position: relative;
    left: 17px;
    flex-shrink: 0;
    color: #F9FED8;
    text-align: left;
    font-family: "Gabriola";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
}
.about-text-group-title, .about-text-group-title2 {
    display: flex;
    width: 506px;
    position: absolute;
    flex-direction: column;
    flex-shrink: 0;
    color: #1E1E1E;
    font-style: normal;
}
.about-text-group-title {
    height: 153px;
    top: 4px;
    text-align: left;
    font-family: Novelist;
    font-size: 48px;
    font-weight: 400;
    line-height: 40px; /* 83.333% */
    text-transform: uppercase;
}
.about-text-group-title2 {
    height: 110px;
    bottom: 0;
    justify-content: left;
    text-align: justify;
    font-family: Gabriola;
    font-size: 32px;
    font-weight: 400;
    line-height: 30px; /* 93.75% */
}
.more-btn, .more-btn-1, .more-btn-2 {
    width: 238px;
    height: 59px;
    position: relative;
    flex-shrink: 0;
    border-radius: 45px;
    z-index: 5;
}
.more-btn {
    display: flex;
    align-items: center;
    background: #5A062A;
    align-self: flex-end;
    margin-left: 50%;
    transform: translateX(-50%);
}
.more-btn:active {
    background: rgba(90,6,42,0.88);
    bottom:22px;
    margin-left: 50%;
    transform: translate(-50%,0) translateY(3px);
}
.more-btn-1 {
    bottom: 0;
    background: #F9FED8;
}
.more-btn-1:active {
    transform: translateY(3px);
    background: rgba(249,254,216,0.88);
}
.more-btn-2 {
    background: #5A062A;
}
.more-btn-2:active {
    background: rgba(90,6,42,0.88);
    top: 168px;
    transform: translateY(3px);
}
.more-btn .link, .more-btn-1 .link-1, .more-btn-2 .link {
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: center;
    width: 238px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 45px;
    font-family: Novelist;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.more-btn .link, .more-btn-2 .link {
    color: #F9FED8;
}
.more-btn-1 .link-1 {
    color: #5A062A;
}
.video-archive {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 1005px;
    height: 740px;
    position: relative;
    margin-left: 50%;
    transform: translate(-50%, 0);
    flex-shrink: 0;
    z-index: 1;
}
.video-archive-text-title, .video-archive-text-title-2 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    z-index: 3;
    color: #F9FED8;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
}
.video-archive-text-title {
    width: 238px;
    height: 53px;
    text-align: center;
    font-family: Novelist;
    line-height: 40px; /* 83.333% */
    text-transform: uppercase;
}
.video-archive-text-title-2 {
    width: 343px;
    height: 70px;
    text-align: justify;
    font-family: Gabriola;
    line-height: 30px; /* 62.5% */
}
.video-teasers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1005px;
    height: 364px;
    flex-shrink: 0;
    position: relative;
    z-index: 3;
}
.video-teasers-tile {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 238px;
    height: 364px;
    z-index: 4;
}
.video-teasers-portraits {
    width: 223px;
    height: 280px;
    display: flex;
    flex-shrink: 0;
    position: relative;
    border-radius: 15px;
    z-index: 5;
    align-items: center;
}
.video-teasers-title{
    width: 178px;
    height: 55px;
    position: relative;
    z-index: 5;
    flex-shrink: 0;
    color: #F9FED8;
    text-align: center;
    font-family: Novelist;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.announcements {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1156px;
    height: 515px;
    top: 120px;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
}
.announcements-title-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 364px;
    height: 226px;
}
.announcements-title {
    width: 163px;
    height: 54px;
    position: relative;
    z-index: 4;
    flex-shrink: 0;
    color: #5A062A;
    font-family: Novelist;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.announcements-title-2 {
    width: 339px;
    height: 86px;
    flex-shrink: 0;
    position: relative;
    z-index: 4;
    flex-shrink: 0;
    color: #5A062A;
    font-family: Gabriola;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 93.75% */
}
.announcements-tile {
    display: flex;
    width: 364px;
    height: 226px;
    flex-shrink: 0;
    position: relative;
    border-radius: 15px;
    background: rgba(141, 11, 25, 0.82);
}
.announcements-tile-img {
    width: 364px;
    height: 226px;
    flex-shrink: 0;
    position: absolute;
    object-fit: cover;
    border-radius: 15px;
    z-index: -1;
}
.anons-title-1 {
    width: 187px;
    height: 80px;
    color: #FFF;
    position: absolute;
    top: 17px;
    left: 28px;
    font-family: Novelist;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
    text-transform: uppercase;
}
.anons-title-2 {
    display: flex;
    width: 322px;
    height: 120px;
    position: absolute;
    left: 28px;
    top: 97px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #F9FED8;
    font-family: Gabriola;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
}
.up-button {
    display: flex;
    width: 65px;
    height: 65px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 10px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
}
img {
    width: 100%;
    height: 100%;
}
.cover {
    object-fit: cover;
    border-radius: 15px;
}