.banner-img {
    width: 1277px;
    height: 688px;
    position: absolute;
    flex-shrink: 0;
    aspect-ratio: 1285/688;
    background: url('../img/page_elements/site_cover1.png') lightgray 50% / cover no-repeat;
    z-index: 3;
}
.main-title {
    width: 1000px;
    height: 114px;
    flex-shrink: 0;
    position: absolute;
    top: 184px;
    margin-left: 50%;
    transform: translate(-50%,0);
    color: #FFF;
    text-shadow: 5px 10px 10px #000;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.main-title1 {
    width: 609px;
    height: 208px;
    position: absolute;
    top: 208px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    flex-shrink: 0;
    color: #FFF;
    text-shadow: 5px 10px 10px #000;
    text-align: center;
    font-family: "Andantino script";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about-main {
    display: flex;
    width: 1198px;
    height: 556px;
    flex-shrink: 0;
    position: absolute;
    top: 72px;
    margin-left: 50%;
    transform: translate(-50%,0);
    background-color: transparent;
    z-index: 1;
}
.group5 {
    width: 605px;
    height: 386px;
    position: relative;
    flex-shrink: 0;
    z-index: 2;
}
.group23 {
    width: 510px;
    height: 267px;
    position: absolute;
    top: 36px;
    right: 0;
    flex-shrink: 0;
    z-index: 2;
}
.rectangle12, .rectangle13, .rectangle14, .rectangle15 {
    width: 296px;
    height: 181px;
    position: absolute;
    flex-shrink: 0;
    border-radius: 15px;
    background: #8D0B19;
    z-index: 3;
}
.rectangle12 {
    left: 0;
    top: 0;
}
.rectangle13 {
    top: 0;
    margin-left: 52%;
}
.rectangle14 {
    margin-left: 52%;
    transform: translate(0,-50%);
    margin-top: 49%;
}
.rectangle15 {
    margin-top: 49%;
    transform: translate(0,-50%);
    left: 0;
}
.text-title-about-rectangle, .text-title-about-rectangle-1 {
    display: flex;
    width: 250px;
    height: 51px;
    position: absolute;
    top: 15px;
    left: 17px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: left;
    font-family: "Novelist";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
    text-transform: uppercase;
}
.text-title-about-rectangle-1 {
    top: 30px;
}
.text-2-about-rectangle {
    display: flex;
    width: 258px;
    height: 43px;
    position: absolute;
    top: 90px;
    left: 17px;
    flex-direction: column;
    flex-shrink: 0;
    color: #F9FED8;
    text-align: left;
    font-family: "Gabriola";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
}
.rectangle16, .rectangle16-1, .rectangle16-2 {
    width: 238px;
    height: 59px;
    position: absolute;
    flex-shrink: 0;
    border-radius: 45px;
    z-index: 5;
}
.rectangle16 {
    display: flex;
    align-items: center;
    background: #5A062A;
    bottom: 22px;
    margin-left: 50%;
    transform: translate(-50%,0);
}
.rectangle16:active {
    background: rgba(90,6,42,0.88);
    bottom:22px;
    margin-left: 50%;
    transform: translate(-50%,0) translateY(3px);
}
.rectangle16-1 {
    bottom: 0;
    margin-left: 50%;
    transform: translate(-50%, 0);
    background: #F9FED8;
}
.rectangle16-1:active {
    bottom: 0;
    margin-left: 50%;
    transform: translate(-50%, 0) translateY(3px);
    background: rgba(249,254,216,0.88);
}
.rectangle16-2 {
    top: 168px;
    background: #5A062A;
}
.rectangle16-2:active {
    background: rgba(90,6,42,0.88);
    top: 168px;
    transform: translateY(3px);
}
.btn-about, .btn-about-1 {
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: center;
    width: 238px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 45px;
    font-family: Novelist;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.btn-about {
    color: #F9FED8;
}
.btn-about-1 {
    color: #5A062A;
}
.text-about-group23, .text-about-group23-2 {
    display: flex;
    width: 506px;
    position: absolute;
    flex-direction: column;
    flex-shrink: 0;
    color: #1E1E1E;
    font-style: normal;
}
.text-about-group23 {
    height: 153px;
    top: 4px;
    text-align: left;
    font-family: Novelist;
    font-size: 48px;
    font-weight: 400;
    line-height: 40px; /* 83.333% */
    text-transform: uppercase;
}
.text-about-group23-2 {
    height: 110px;
    bottom: 0;
    justify-content: left;
    text-align: justify;
    font-family: Gabriola;
    font-size: 32px;
    font-weight: 400;
    line-height: 30px; /* 93.75% */
}
.video-teasers {
    width: 1005px;
    height: 364px;
    flex-shrink: 0;
    position: absolute;
    top: 151px;
    z-index: 3;
}
.video-archive-text-title, .video-archive-text-title-2 {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    z-index: 3;
    color: #F9FED8;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
}
.video-archive-text-title {
    width: 238px;
    height: 53px;
    top: 0;
    margin-left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-family: Novelist;
    line-height: 40px; /* 83.333% */
    text-transform: uppercase;
}
.video-archive-text-title-2 {
    width: 343px;
    height: 70px;
    top: 26px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    text-align: justify;
    font-family: Gabriola;
    line-height: 30px; /* 62.5% */
}
.rectangle11, .rectangle8, .rectangle9 {
    width: 223px;
    height: 280px;
    display: flex;
    flex-shrink: 0;
    position: absolute;
    border-radius: 15px;
    z-index: 3;
    align-items: center;
}
.rectangle8 {
    top: 0;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
.rectangle9 {
    right: 0;
}
.text-video-teaser-title-1, .text-video-teaser-title-2,  .text-video-teaser-title-3{
    width: 178px;
    height: 30px;
    position: absolute;
    z-index: 3;
    flex-shrink: 0;
    color: #F9FED8;
    text-align: center;
    font-family: Novelist;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.text-video-teaser-title-1 {
    left: 25px;
    bottom: 0;
}
.text-video-teaser-title-2 {
    bottom: 0;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
.text-video-teaser-title-3 {
    bottom: 0;
    right: 18px;
}
.announcements {
    width: 1156px;
    height: 508px;
    flex-shrink: 0;
    position: absolute;
    top: 171px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}
.text-announcements-title {
    width: 163px;
    height: 54px;
    position: absolute;
    z-index: 3;
    flex-shrink: 0;
    color: #5A062A;
    font-family: Novelist;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.text-announcements-title-2 {
    width: 339px;
    height: 86px;
    flex-shrink: 0;
    position: absolute;
    top: 65px;
    z-index: 3;
    flex-shrink: 0;
    color: #5A062A;
    font-family: Gabriola;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 93.75% */
}
.rectangle17, .rectangle17-1, .rectangle17-2, .rectangle17-3, .rectangle17-4 {
    width: 364px;
    height: 226px;
    flex-shrink: 0;
    position: absolute;
    border-radius: 15px;
    background: rgba(141, 11, 25, 0.82);
    z-index: 3;
}
.rectangle17-img, .rectangle17-img-1, .rectangle17-img-2, .rectangle17-img-3, .rectangle17-img-4 {
    width: 364px;
    height: 226px;
    flex-shrink: 0;
    position: absolute;
    border-radius: 15px;
    z-index: 2;
}
.rectangle17, .rectangle17-img {
    bottom: 0;
}
.rectangle17-1, .rectangle17-img-1 {
    margin-left: 50%;
    transform: translate(-50%, 0);
    top: 0;
}
.rectangle17-2, .rectangle17-img-2 {
    right: 0;
    top: 0;
}
.rectangle17-3, .rectangle17-img-3 {
    margin-left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
}
.rectangle17-4, .rectangle17-img-4 {
    right: 0;
    bottom: 0;
}
.anons-title-1 {
    width: 187px;
    height: 80px;
    color: #FFF;
    position: absolute;
    top: 17px;
    left: 28px;
    font-family: Novelist;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
    text-transform: uppercase;
}
.anons-title-2 {
    display: flex;
    width: 322px;
    height: 120px;
    position: absolute;
    left: 28px;
    top: 97px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #F9FED8;
    font-family: Gabriola;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
}
.up-button {
    display: flex;
    width: 65px;
    height: 65px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 10px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
}
img {
    width: 100%;
    height: 100%;
}
.cover {
    object-fit: cover;
    border-radius: 15px;
}