.to-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    flex-shrink: 0;
    left: 120px;
    z-index: 2;
}
.to-main-btn {
    display: flex;
    width: 110px;
    height: 30px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Noah;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    z-index: 3;
    background: transparent;
}
.to-main-btn:hover  {
    border: 1px solid #FFFFFF;
}
.to-main-btn:active {
    border: 1px solid #FFFFFF;
    transform: translateY(2px);
}
.back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    flex-shrink: 0;
    left: 120px;
    z-index: 2;
}
.back-btn {
    display: flex;
    width: 110px;
    height: 30px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Noah;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    z-index: 3;
    background: transparent;
}
.back-btn:hover  {
    border: 1px solid #FFFFFF;
}
.back-btn:active {
    border: 1px solid #FFFFFF;
    transform: translateY(2px);
}