<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Технический head -->
    <th:block th:fragment="header-meta">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" th:href="@{/favicon.ico}">

        <!-- Bootstrap core CSS -->
        <link href="//://maxcdn.bootstrapcdn.com" rel="stylesheet">

        <!-- Общие стили для всех страниц через Webpack manifest -->
        <link th:href="@{${manifest['main.css']}}" rel="stylesheet" />
    </th:block>
</head>
<body>

<div th:fragment="main-header">
    <div class="menu">
        <a href="/" class="logo-link">
            <div class="menu_logo"></div>
        </a>
        <!-- Кнопка «бургер» -->
        <button class="burger-menu" id="burgerBtn">
            <span></span><span></span><span></span>
        </button>

        <!-- Навигация -->
        <div class="nav-wrapper" id="navLinks">
            <div class="to-main" th:unless="${#httpServletRequest.requestURI == '/' or #httpServletRequest.requestURI == '/index'}">
                <a th:if="${#httpServletRequest.requestURI.contains('/biography/')}"
                   th:href="@{/biographies}" class="back-btn" th:text="#{header.back}">Назад</a>
                <a th:if="${#httpServletRequest.requestURI.contains('/history_article/')}"
                   th:href="@{/history}" class="back-btn" th:text="#{header.back}">Назад</a>
                <a th:unless="${#httpServletRequest.requestURI.contains('/biography/') or #httpServletRequest.requestURI.contains('/history_article/')}"
                   th:href="@{/index}" class="to-main-btn" th:text="#{header.to_main}">На главную</a>
            </div>
            <div class="group2">
                <a th:href="@{/about}" class="menu-button-about" th:text="#{header.about_us}"></a>
                <a th:href="@{/history}" class="menu-button-history" th:text="#{header.history}"></a>
                <a th:href="@{/biographies}" class="menu-button-biography" th:text="#{header.biography}"></a>
                <a th:href="@{/events}" class="menu-button-events" th:text="#{header.event}"></a>
            </div>
        </div>
    </div>

    <script th:src="${manifest['burger_menu.js']}"></script>
</div>

</body>
</html>