.events-about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 1200px;
    height: 500px;
    flex-shrink: 0;
    position: relative;
    top: 120px;
    margin-left: 50%;
    transform: translate(-50%,0);
    z-index: 1;
}
.events-about-description-field {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 500px;
    width: 477px;
}
.events-about-photo-field {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 500px;
    width: 666px;
}
.events-title {
    width: 477px;
    height: 249px;
    color: #5A062A;
    position: relative;
    text-align: left;
    font-family: Novelist;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 130px; /* 101.563% */
    text-transform: uppercase;
    z-index: 2;
}
.events-title-small {
    width: 666px;
    height: 80px;
    flex-direction: column;
    justify-content: right;
    color: #0f0f0c;
    position: relative;
    top: 5px;
    z-index: 2;
    text-align: right;
    font-family: Gabriola;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 83.333% */
}
.events-title-photo {
    width: 666px;
    height: 399px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    border-radius: 15px;
    background: url("../img/page_elements/stub_img.jpg") lightgray -0.657px -225.714px / 101.438% 169.037% no-repeat;
}
.events-title-description {
    width: 424px;
    height: 88px;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    color: #5A062A;
    text-align: justify;
    font-family: Gabriola;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
}
.about-project-btn {
    width: 238px;
    height: 59px;
    position: relative;
    flex-shrink: 0;
    border-radius: 45px;
    z-index: 5;
    display: flex;
    align-items: center;
    background: #5A062A;
}
.about-project-btn:active {
    background: rgba(90,6,42,0.88);
    transform: translateY(3px);
}
.about-project-btn-text {
    display: flex;
    width: 238px;
    height: 51px;
    position: relative;
    justify-content: center;
    margin-left: 0;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Novelist";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
    text-transform: uppercase;
}
.events-our-project {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 1267px;
    height: 731px;
    flex-shrink: 0;
    position: relative;
    margin-left: 50%;
    transform: translate(-50%,0);
    top: 50px;
}
.events-our-project-title {
    display: flex;
    width: 532px;
    height: 131px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    color: #5A062A;
    z-index: 5;
    text-align: left;
    font-family: Novelist;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 62.5% */
    text-transform: uppercase;
}
.events-our-project-square-field {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    width: 1267px;
    height: 600px;

}
.events-our-project-square, .events-our-project-square-transparent {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 263px;
    height: 260px;
    flex-shrink: 0;
    position: relative;
    background-color: #5A062A;
}
.events-our-project-square-transparent {
    background-color: transparent;
}
.events-our-project-square-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 79px;
    color: #F9FED8;
    position: relative;
    text-align: center;
    font-family: Gabriola;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 41.667% */
}
.events-our-project-square-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 108px;
    width: 259px;
    flex-shrink: 0;
    color: #F9FED8;
    position: relative;
    text-align: center;
    font-family: Gabriola;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 74.074% */
}
.events-announcements {
    width: 1267px;
    height: fit-content;
    padding-bottom: 5px;
    padding-top: 5px;
    flex-shrink: 0;
    position: relative;
    margin-left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}
.events-announcements-title {
    display: flex;
    width: 220px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    color: #5A062A;
    text-align: justify;
    font-family: Novelist;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 62.5% */
    text-transform: uppercase;
    z-index: 2;
}
.item.collapsible {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    transition: max-height 400ms cubic-bezier(.2,.8,.2,1),
                opacity 250ms ease,
                padding 250ms ease,
                margin 250ms ease;
}
.item.collapsible.expanded {
    opacity: 1;
    max-height: 300px;
}
.item {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    width: 1267px;
    height: 226px;
    flex-shrink: 0;
    background: rgba(141, 11, 25, 0.5);
}
.item img {
    position: absolute;
    width: 364px;
    height: 226px;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 2;
}
.item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 95px;
    height: 226px;
    background: rgba(255, 255, 255, 0.48);
}
.item-button:active {
    background: rgba(255, 255, 255, 0.36);
    right: -3px;
}
.item-btn {
    position: absolute;
    width: 95px;
    height: 226px;
    z-index: 5;
}
.item-button-img {
    position: absolute;
    width: 28px;
    height: 52px;
    background: url("../img/page_elements/button_arrow.svg") no-repeat;
}
.item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    z-index: 3;
}
.item .title {
    position: absolute;
    left: 461px;
    top: 17px;
    width: 353px;
    height: 40px;
    color: #FFF;
    font-family: Novelist;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
    text-transform: uppercase;
    text-align: left;
    z-index: 4;
}
.item .text, .item .address, .item .time {
    position: absolute;
    left: 461px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #F9FED8;
    font-family: Gabriola;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    z-index: 4;
}
.item .text {
    left: 461px;
    top: 60px;
    width: 649px;
    height: 90px;
}
.item .address {
    bottom: 40px;
    left: 496px;
    width: 300px;
    height: 25px;
    color: #FFFFFF;
}
.item .time {
    bottom: 10px;
    left: 496px;
    width: 200px;
    height: 25px;
    color: #FFFFFF;
}
.map-pin-icon {
    position: absolute;
    z-index: 4;
    left: 461px;
    bottom: 42px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    background: url("../img/page_elements/map_pin_icon.svg") transparent no-repeat;
}
.clock-icon {
    position: absolute;
    z-index: 4;
    left: 463px;
    bottom: 12px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    background: url("../img/page_elements/clock_icon.svg") transparent no-repeat;
}
.hide-btn, .hide-btn:focus {
    width: 238px;
    height: 59px;
    position: relative;
    flex-shrink: 0;
    border-radius: 45px;
    z-index: 5;
    display: flex;
    align-items: center;
    background: #5A062A;
    bottom: 30px;
    margin-left: 50%;
    transform: translate(-50%,0);
    font-family: Novelist;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: #F9FED8;
    align-items: center;
    justify-content: center;
}
.hide-btn:active {
    background: rgba(90,6,42,0.88);
    bottom: 30px;
    margin-left: 50%;
    transform: translate(-50%,0) translateY(3px);
}
button, button:active, button:focus {
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    text-decoration: none;
}
.events-photo-field {
    margin-top: 70px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 1278px;
    height: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.events-photo-title, .events-video-title  {
    display: flex;
    width: 687px;
    height: 119px;
    flex-direction: column;
    justify-content: center;
    color: #5A062A;
    text-align: justify;
    font-family: Novelist;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 100% */
    text-transform: uppercase;
}
.events-video-title {
    text-align: left;
}
.events-photo-carousel {
    width: 1278px;
    height: 347px;
    overflow: hidden;
    display: flex;
    &:hover .events-photo-carousel-group {
        animation-play-state: paused;
    }
}
.events-photo-carousel-group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: scrolling 20s linear infinite;
}
@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.events-photo-card {
    width: 427px;
    height: 347px;
}
.events-photo-card img {
    object-fit: fill;
    max-width: 100%;
    height: auto;
}
.events-video-field {
    width: 1278px;
    height: 500px;
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    margin-left: 50%;
    transform: translateX(-50%);
}
.events-video-carousel {
    width: 1278px;
    height: 400px;
    overflow: scroll;
    display: flex;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}
.events-video-carousel-group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
}
.events-video-card {
    scroll-snap-align: start;
    width: 427px;
    height: 347px;
    background: url(../img/page_elements/stub_photo_carousel.png) no-repeat;
}
.events-modal-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    display: flex;
    align-items: start;
    justify-content: center;
}
.events-modal-window:target {
    visibility: visible;
    opacity: 1;
}
.events-modal-window > div {
    max-width: 90%;
    max-height: 90vh;
    position: relative;
}
.events-modal-window img {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
}
.events-modal-close {
    position: absolute;
    right: 40px;
    color: #fff;
    font-size: 50px;
    z-index: 1001;
    font-weight: bolder;
    text-decoration: none;
}
