@font-face {
    font-family: "Andantino script";
    src: url('../fonts/andantinoscript.ttf') format('truetype'),
         url('../fonts/Andantinoscript.woff2') format('woff2'),
         url('../fonts/Andantinoscript.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Novelist";
    src: url('../fonts/Novelist_free.otf') format("opentype"),
         url('../fonts/Novelist-Display.woff2') format('woff2'),
         url('../fonts/Novelist-Display.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gabriola";
    src: url('../fonts/gabriola.ttf') format("truetype"),
         url('../fonts/Gabriola.woff2') format('woff2'),
         url('../fonts/Gabriola.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Noah";
    src: url('../fonts/Noah-Regular.ttf') format('truetype'),
         url('../fonts/Noah-Regular.woff2') format('woff2'),
         url('../fonts/Noah-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Noah";
    src: url('../fonts/Noah-Bold.ttf') format('truetype'),
         url('../fonts/Noah-Bold.woff2') format('woff2'),
         url('../fonts/Noah-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Noah";
    src: url("../fonts/Noah-RegularItalic.ttf") format("truetype"),
         url('../fonts/Noah-RegularItalic.woff2') format('woff2'),
         url('../fonts/Noah-RegularItalic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Noah";
    src: url("../fonts/Noah-BoldItalic.ttf") format("truetype"),
         url('../fonts/Noah-BoldItalic.woff2') format('woff2'),
         url('../fonts/Noah-BoldItalic.woff') format('woff');
    font-style: italic;
    font-weight: bold;
}