@font-face {
    font-family: "Andantino script";
    src: url('../fonts/andantinoscript.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Novelist";
    src: url('../fonts/Novelist_free.otf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gabriola";
    src: url('../fonts/gabriola.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Noah";
    src: url('../fonts/Noah-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Noah";
    src: url("../fonts/Noah-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Noah";
    src: url("../fonts/Noah-RegularItalic.ttf");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Noah";
    src: url("../fonts/Noah-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}