<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" th:href="@{favicon.ico}">

  <title data-th-text="#{title.about_us}"></title>

  <!-- Bootstrap core CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <!-- Custom styles for this template -->
    <link th:href="@{/css/background.css}" rel="stylesheet" />
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <link th:href="@{/css/fonts.css}" rel="stylesheet" />
    <link th:href="@{/css/to main button.css}" rel="stylesheet" />
    <link th:href="@{/css/about.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
<div class="menu">
  <div class="menu_logo"></div>
  <div class="to-main">
    <a th:href="@{/index}" class="to-main-btn" data-th-text="#{header.to_main}"></a>
  </div>
  <div class="group2">
    <a th:href="@{/about}" class="menu-button-about" data-th-text="#{header.about_us}"></a>
    <a th:href="@{/history}" class="menu-button-history" data-th-text="#{header.history}"></a>
    <a th:href="@{/biographies}" class="menu-button-biography" data-th-text="#{header.biography}"></a>
    <a th:href="@{/events}" class="menu-button-events" data-th-text="#{header.event}"></a>
  </div>
</div>
<div class="background-1">
  <div class="about-title">
    <div class="title" data-th-text="#{about_project.title}"></div>
    <div class="text">
      <text>«Евангельские христиане на службе России» — историко-просветительская инициатива, цель которой сохранить память о вкладе евангельских христиан в историю и культуру нашей страны.
        Мы рассказываем о том, как вера, патриотизм и жертвенность стали частью национальной истории. В рамках проекта собираются и публикуются:</text>
    </div>
    <div class="list">
      <ul>
        <li class="li1">биографии основателей евангельского движения;</li>
        <li class="li1">истории фронтовиков и тружеников тыла;</li>
        <li class="li1">свидетельства потомков героев;</li>
        <li class="li1">архивные документы, фото и видеоинтервью.</li>
      </ul>
    </div>
  </div>
  <div class="torn-edge1"></div>
</div>
<div class="background-2">
  <div class="about-background-2-field">
    <div class="about-engraving"></div>
    <div class="about-epigram">
      <text>История евангельских христиан — это история верности Богу и служения своей Родине».</text>
    </div>
    <div class="quotes_open"></div>
    <div class="quotes_close"></div>
    <div class="img-2nd-level"></div>
  </div>
</div>
<div class="background-3">
  <div class="torn-edge2"></div>
  <div class="team">
    <div class="team-photo-field">
      <div class="team-photo1">
        <img th:src="@{img/page_elements/lazarev_gs.jpg}" alt="Геннадий Лазарев — Руководитель проекта">
      </div>
      <div class="team-photo2">
        <img th:src="@{img/page_elements/trifonov_rs.jpg}" alt="Роман Трифонов — Координатор проекта">
      </div>
      <div class="team-photo3">
        <img th:src="@{img/page_elements/trifonova_mg.jpg}" alt="Маргарита Трифонова — Менеджер проекта">
      </div>
    </div>
    <div class="team-title-description-achieves-field">
      <div class="team-title" data-th-text="#{about_project.team_title}"></div>
      <div class="team-description">
        <text>Геннадий Лазарев — Руководитель проекта.</text><text>Епископ, старший пастор. Более 20 лет опыта в служении и общественной деятельности.</text>

        <br><text>Роман Трифонов — Координатор проекта.</text><text>Юрист, исследователь. Более 10 лет опыта в управлении социальными и образовательными проектами.</text>

        <br><text>Маргарита Трифонова — Менеджер проекта.</text><text>Специалист по визуальной коммуникации. Создала более 50 печатных и цифровых материалов для просветительских проектов.</text>
      </div>
      <div class="team-achieves">
        <div class="team-achieve-field">
          <div class="team-achieve-number" data-th-text="#{about_project.team_achieve_number1}"></div>
          <div class="team-achieve-description">
            <text>лет опыта
              в реализации просветительских
              и исследовательских инициатив</text>
          </div>
        </div>
        <div class="team-achieve-field">
          <div class="team-achieve-number" data-th-text="#{about_project.team_achieve_number2}"></div>
          <div class="team-achieve-description">
            <text>лекций и выставок в Калининградской области и за её пределами</text>
          </div>
        </div>
        <div class="team-achieve-field">
          <div class="team-achieve-number" data-th-text="#{about_project.team_achieve_number3}"></div>
          <div class="team-achieve-description">
            <text>человек  посетили  мероприятия— школьники, студенты
              и исследователи</text>
          </div>
        </div>
        <div class="team-achieve-field">
          <div class="team-achieve-number" data-th-text="#{about_project.team_achieve_number4}"></div>
          <div class="team-achieve-description">
            <text>опубликовано свыше 30 статей и материалов о роли евангельских христиан в истории России</text>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="torn-edge3"></div>
</div>
<div class="background-4-about">
  <div class="bibliography">
    <div class="bibliography-title" data-th-text="#{about_project.bibliography}"></div>
    <ul class="ul2">
      <li class="bibliography-list li2" data-th-text="#{about_project.bibliography_1st_book}"></li>
      <li class="bibliography-list li2" data-th-text="#{about_project.bibliography_2nd_book}"></li>
      <li class="bibliography-list li2" data-th-text="#{about_project.bibliography_3rd_book}"></li>
      <li class="bibliography-list li2" data-th-text="#{about_project.bibliography_4th_book}"></li>
      <li class="bibliography-list li2" data-th-text="#{about_project.bibliography_5th_book}"></li>
      <li class="bibliography-list li2" data-th-text="#{about_project.bibliography_6s_book}"></li>
    </ul>
  </div>
  <div class="contacts" id="contact">
    <div class="contacts-title" data-th-text="#{about_project.contacts_title}"></div>
    <div class="social-media-title" data-th-text="#{about_project.contacts_social_media_title}"></div>
    <div class="contacts-group">
      <text data-th-text="#{about_project.contacts_phone_number}"></text>
      <text data-th-text="#{about_project.contacts_email}"></text>
      <div class="social-media-icons-group">
        <a th:href="#{footer.rutube_link}" target="_blank" rel="noopener noreferrer" class="rutube-icon"></a>
        <a th:href="#{footer.vk_link}" target="_blank" rel="noopener noreferrer" class="vk-icon"></a>
      </div>
    </div>
    <div class="alpha-dog"></div>
    <div class="phone"></div>
  </div>
</div>
</div>
<footer class="footer">
  <div class="footer-logo"></div>
  <div class="footer-logo-nko"></div>
  <div class="marking-nko" data-th-text="#{footer.nko_marking}"></div>
  <div class="footer-buttons-group">
    <a th:href="@{/}" class="footer-button-main-page" data-th-text="#{footer.main}"></a>
    <a th:href="@{/about}" class="footer-button-about" data-th-text="#{footer.about_us}"></a>
    <a th:href="@{/history}" class="footer-button-history" data-th-text="#{footer.history}"></a>
    <a th:href="@{/biographies}" class="footer-button-biography" data-th-text="#{footer.biography}"></a>
    <a th:href="@{/events}" class="footer-button-events" data-th-text="#{footer.event}"></a>
    <a th:href="@{/privacy_policy}" class="footer-button-confidential" data-th-text="#{footer.privacy}"></a>
  </div>
  <a th:href="#{footer.rutube_link}" target="_blank" rel="noopener noreferrer" class="footer-button-rutube"></a>
  <a th:href="#{footer.vk_link}" target="_blank" rel="noopener noreferrer" class="footer-button-vk"></a>
  <a href="/about#contact" class="footer-button-phone"></a>
  <a th:href="#{footer.tg_link}" target="_blank" rel="noopener noreferrer" class="footer-button-tg"></a>
  <div class="marking" data-th-text="#{footer.marking}"></div>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script th:src="@{/js/up-button.js}"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function(m,e,t,r,i,k,a){
    m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
  })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=106072754', 'ym');

  ym(106072754, 'init', {ssr:true, webvisor:true, clickmap:true, accurateTrackBounce:true, trackLinks:true});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/106072754" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>