<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       lang="en">
<head>
  <th:block th:replace="fragments/header :: header-meta"></th:block>

  <title data-th-text="#{title.about_us}"></title>
  <link th:href="@{/css/about.css}" rel="stylesheet" />

</head>
<body>
<div class="wrapper">

  <div th:replace="fragments/header :: main-header"></div>

<div class="background-1">
  <div class="about-title">
    <div class="title" data-th-text="#{about_project.title}"></div>
    <div class="text">
      <text>«Евангельские христиане на службе России» — историко-просветительская инициатива, цель которой сохранить память о вкладе евангельских христиан в историю и культуру нашей страны.
        Мы рассказываем о том, как вера, патриотизм и жертвенность стали частью национальной истории. В рамках проекта собираются и публикуются:</text>
    </div>
    <div class="list">
      <ul>
        <li class="li1">биографии основателей евангельского движения;</li>
        <li class="li1">истории фронтовиков и тружеников тыла;</li>
        <li class="li1">свидетельства потомков героев;</li>
        <li class="li1">архивные документы, фото и видеоинтервью.</li>
      </ul>
    </div>
  </div>
  <div class="torn-edge1"></div>
</div>
<div class="background-2">
  <div class="about-background-2-field">
    <div class="about-engraving"></div>
    <div class="about-epigram">
      <text>История евангельских христиан — это история верности Богу и служения своей Родине».</text>
    </div>
    <div class="quotes_open"></div>
    <div class="quotes_close"></div>
    <div class="img-2nd-level"></div>
  </div>
</div>
<div class="background-3">
  <div class="torn-edge2"></div>
  <div class="team">
    <div class="team-photo-field">
      <div class="team-photo1">
        <img th:src="@{img/page_elements/lazarev_gs.jpg}" alt="Геннадий Лазарев — Руководитель проекта">
      </div>
      <div class="team-photo2">
        <img th:src="@{img/page_elements/trifonov_rs.jpg}" alt="Роман Трифонов — Координатор проекта">
      </div>
      <div class="team-photo3">
        <img th:src="@{img/page_elements/trifonova_mg.jpg}" alt="Маргарита Трифонова — Менеджер проекта">
      </div>
    </div>
    <div class="team-title-description-achieves-field">
      <div class="team-title" data-th-text="#{about_project.team_title}"></div>
      <div class="team-description">
        <text>Геннадий Лазарев — Руководитель проекта.</text><text>Епископ, старший пастор. Более 20 лет опыта в служении и общественной деятельности.</text>

        <br><text>Роман Трифонов — Координатор проекта.</text><text>Юрист, исследователь. Более 10 лет опыта в управлении социальными и образовательными проектами.</text>

        <br><text>Маргарита Трифонова — Менеджер проекта.</text><text>Специалист по визуальной коммуникации. Создала более 50 печатных и цифровых материалов для просветительских проектов.</text>
      </div>
      <div class="team-achieves">
        <div class="team-achieve-field">
          <div class="team-achieve-number" data-th-text="#{about_project.team_achieve_number1}"></div>
          <div class="team-achieve-description">
            <text>лет опыта
              в реализации просветительских
              и исследовательских инициатив</text>
          </div>
        </div>
        <div class="team-achieve-field">
          <div class="team-achieve-number" data-th-text="#{about_project.team_achieve_number2}"></div>
          <div class="team-achieve-description">
            <text>лекций и выставок в Калининградской области и за её пределами</text>
          </div>
        </div>
        <div class="team-achieve-field">
          <div class="team-achieve-number" data-th-text="#{about_project.team_achieve_number3}"></div>
          <div class="team-achieve-description">
            <text>человек  посетили  мероприятия— школьники, студенты
              и исследователи</text>
          </div>
        </div>
        <div class="team-achieve-field">
          <div class="team-achieve-number" data-th-text="#{about_project.team_achieve_number4}"></div>
          <div class="team-achieve-description">
            <text>опубликовано свыше 30 статей и материалов о роли евангельских христиан в истории России</text>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="torn-edge3"></div>
</div>
<div class="background-4-about">
  <div class="bibliography">
    <div class="bibliography-title" data-th-text="#{about_project.bibliography}"></div>
    <ul class="ul2">
      <li class="bibliography-list li2" data-th-text="#{about_project.bibliography_1st_book}"></li>
      <li class="bibliography-list li2" data-th-text="#{about_project.bibliography_2nd_book}"></li>
      <li class="bibliography-list li2" data-th-text="#{about_project.bibliography_3rd_book}"></li>
      <li class="bibliography-list li2" data-th-text="#{about_project.bibliography_4th_book}"></li>
      <li class="bibliography-list li2" data-th-text="#{about_project.bibliography_5th_book}"></li>
      <li class="bibliography-list li2" data-th-text="#{about_project.bibliography_6s_book}"></li>
    </ul>
  </div>
  <div class="contacts" id="contact">
    <div class="contacts-title" data-th-text="#{about_project.contacts_title}"></div>
    <div class="social-media-title" data-th-text="#{about_project.contacts_social_media_title}"></div>
    <div class="contacts-group">
      <text data-th-text="#{about_project.contacts_phone_number}"></text>
      <text data-th-text="#{about_project.contacts_email}"></text>
      <div class="social-media-icons-group">
        <a th:href="#{footer.rutube_link}" target="_blank" rel="noopener noreferrer" class="rutube-icon"></a>
        <a th:href="#{footer.vk_link}" target="_blank" rel="noopener noreferrer" class="vk-icon"></a>
      </div>
    </div>
    <div class="alpha-dog"></div>
    <div class="phone"></div>
  </div>
</div>
</div>
<div th:replace="fragments/footer :: main-footer"></div>
</body>
</html>