<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <th:block th:replace="fragments/header :: header-meta"></th:block>

    <title data-th-text="${event.title}"></title>
    <link th:href="@{/css/event.css}" rel="stylesheet" />
    <link th:href="@{/css/announcement.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: main-header"></div>
    <div class="background-1-article">
        <div class="event-title-photo">
            <img th:src="${event.titleImage}">
            <div class="event-title-content-box">
                <div class="event-title-text" th:text="${event.title}"></div>
                <div class="event-title-address-date-field">
                    <div class="event-map-pin-icon"></div>
                    <div class="address" th:text="${event.city + ', ' + event.address}"></div>
                    <div class="event-clock-icon"></div>
                    <div class="time" th:text="${dateFormatter.get(event.dateTime)}"></div>
                </div>
                <div class="event-title-torn-edge"></div>
            </div>
        </div>
    </div>
    <div class="background-2-history">
        <div class="announcement-text-field">
            <text>Мероприятие еще не состоялось</text>
        </div>
    </div>
    <div class="event-transition-field">
        <div class="event-transition-backward-forward-field">
            <div class="event-transition-backward-title">
                <text>Анонсы</text>
            </div>
            <div class="event-transition-backward-btn">
                <a th:href="@{/events#events}"></a>
            </div>
        </div>
        <div class="event-transition-backward-forward-field" th:if="${event.dateTime.isBefore(eventsSortedList.get(eventsSortedList.size() - 1).dateTime)}">
            <div class="event-transition-forward-title">
                <text>Следующее мероприятие</text>
            </div>
            <div class="event-transition-forward-btn">
                <a th:href="|/event/${eventsSortedList.get(eventsSortedList.indexOf(event) + 1).id}|"></a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: main-footer"></div>
</body>
</html>