<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <th:block th:replace="fragments/header :: header-meta"></th:block>

    <title th:text="${hero.smallName}"></title>
    <link th:href="@{/css/biography.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: main-header"></div>
    <div class="background">
        <div class="biography-portrait-field">
            <div class="biography-portrait">
                <div class="biography-portrait-title" th:text="${hero.smallName}"></div>
                <img th:src="${hero.bigPortrait}" th:alt="${hero.fullName}">
                <div class="biography-portrait-torn-edge"></div>
            </div>
        </div>
        <div th:if="${!hero.isVideo()}" class="biography-name-years-of-life-field">
            <div class="biography-name-years-of-life" th:text="${hero.fullName}"></div>
            <div class="biography-name-years-of-life" th:text="${hero.yearsOfLife}" ></div>
        </div>
        <div th:if="${hero.isVideo()}" class="videobiography-name-years-of-life-field">
            <div class="videobiography-name-years-of-life" th:text="${hero.fullName}+' '+${hero.yearsOfLife}" ></div>
        </div>
        <div class="videobiography-video-text-field">
            <iframe th:if="${hero.isVideo()}" class="biography-video" width="720" height="405" th:src="${hero.videoLink}" style="border: none;" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <div class="biography-text" th:utext="${hero.biography}"></div>
        </div>
        <div class="biography-under-text-field">
            <div class="related-articles">
                <div class="related-articles-title">
                    <text>Связанные статьи</text>
                </div>
                <div class="related-articles-link">
                    <text>Российское библейское общество</text>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: main-footer"></div>
</body>
</html>