<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <th:block th:replace="fragments/header :: header-meta"></th:block>

    <title data-th-text="#{title.biography}"></title>
    <link th:href="@{${manifest['biographies.css']}}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: main-header"></div>
    <div class="biographies-background">
        <div class="biographies-title">
            <text>Биографии</text>
        </div>
        <div class="biographies-period">
            <div class="timeline"></div>
            <div class="timeline-line"></div>
            <div class="biographies-title-portraits-field">
                <div class="biographies-periods-title">
                    <text>XVI век: истоки</text>
                </div>
                <div class="biographies-portraits-field">
                    <div th:each="hero, iterStat : ${sortedListOfHeroesLists.get(0)}"
                         th:class="${iterStat.first or iterStat.index % 4 == 0} ? 'biographies-portrait-name-field-first' : 'biographies-portrait-name-field'">
                        <div class="biographies-portrait">
                            <img th:src="${hero.smallPortrait}">
                        </div>
                        <div class="biographies-name" th:text="${hero.smallName}"></div>
                        <a class="link" th:href="|/biography/${hero.id}|"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="biographies-period">
            <div class="timeline"></div>
            <div class="timeline-line"></div>
            <div class="biographies-title-portraits-field">
                <div class="biographies-periods-title">
                    <text>XVII-XVIII века: эпоха подготовки почвы</text>
                </div>
                <div class="biographies-portraits-field">
                    <div th:each="hero, iterStat : ${sortedListOfHeroesLists.get(1)}"
                         th:class="${iterStat.first or iterStat.index % 4 == 0} ? 'biographies-portrait-name-field-first' : 'biographies-portrait-name-field'">
                        <div class="biographies-portrait">
                            <img th:src="${hero.smallPortrait}">
                        </div>
                        <div class="biographies-name" th:text="${hero.smallName}"></div>
                        <a class="link" th:href="|/biography/${hero.id}|"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="biographies-period">
            <div class="timeline"></div>
            <div class="timeline-line"></div>
            <div class="biographies-title-portraits-field">
                <div class="biographies-periods-title">
                    <text>XIX век: рождение евангельского движения</text>
                </div>
                <div class="biographies-portraits-field">
                    <div th:each="hero, iterStat : ${sortedListOfHeroesLists.get(2)}"
                         th:class="${iterStat.first or iterStat.index % 4 == 0} ? 'biographies-portrait-name-field-first' : 'biographies-portrait-name-field'">
                        <div class="biographies-portrait">
                            <img th:src="${hero.smallPortrait}">
                        </div>
                        <div class="biographies-name" th:text="${hero.smallName}"></div>
                        <a class="link" th:href="|/biography/${hero.id}|"></a>
                    </div>
                </div>
            </div>
        </div><div class="biographies-period">
        <div class="timeline"></div>
        <div class="timeline-line"></div>
        <div class="biographies-title-portraits-field">
            <div class="biographies-periods-title">
                <text>XX век: испытание, войны, возрождение</text>
            </div>
            <div class="biographies-portraits-field">
                <div th:each="hero, iterStat : ${sortedListOfHeroesLists.get(3)}"
                     th:class="${iterStat.first or iterStat.index % 4 == 0} ? 'biographies-portrait-name-field-first' : 'biographies-portrait-name-field'">
                    <div class="biographies-portrait">
                        <img th:src="${hero.smallPortrait}">
                    </div>
                    <div class="biographies-name" th:text="${hero.smallName}"></div>
                    <a class="link" th:href="|/biography/${hero.id}|"></a>
                </div>
            </div>
        </div>
    </div>
        <div class="biographies-period">
            <div class="timeline-end">
                <div class="timeline_arrow"></div>
            </div>
            <div class="timeline-line"></div>
            <div class="biographies-title-portraits-field">
                <div class="biographies-periods-title">
                    <text>XXI век: хранители памяти и исследователи</text>
                </div>
                <div class="biographies-portraits-field">
                    <div th:each="hero, iterStat : ${sortedListOfHeroesLists.get(4)}"
                         th:class="${iterStat.first or iterStat.index % 4 == 0} ? 'biographies-portrait-name-field-first' : 'biographies-portrait-name-field'">
                        <div class="biographies-portrait">
                            <img th:src="${hero.smallPortrait}">
                        </div>
                        <div class="biographies-name" th:text="${hero.smallName}"></div>
                        <a class="link" th:href="|/biography/${hero.id}|"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: main-footer"></div>
</body>
</html>