<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <th:block th:replace="fragments/header :: header-meta"></th:block>

    <title th:text="${hero.smallName}"></title>
    <link th:href="@{/css/biography.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: main-header"></div>
    <div class="background">
        <text>Здесь возникла ошибка</text>
    </div>
</div>
<div th:replace="fragments/footer :: main-footer"></div>
</body>
</html>