<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <th:block th:replace="fragments/header :: header-meta"></th:block>

    <title data-th-text="#{title.event}"></title>
    <link th:href="@{${manifest['events.css']}}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: main-header"></div>
<div class="background-1-events">
    <div class="events-about">
        <div class="events-about-description-field">
            <div class="events-title" data-th-text="#{events.title}"></div>
            <div class="events-title-description">
                <text>Мы рассказываем о том, как вера, патриотизм и жертвенность стали частью национальной истории.</text>
            </div>
            <div class="events-about-project-btn">
                <a class="events-about-project-btn-text" th:href="@{/about}" data-th-text="#{title.about_us}"></a>
            </div>
        </div>
        <div class="events-about-photo-field">
        <div class="events-title-small">
            <text>Анонсы и фотоотчёты лекций,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
            <text>выставок и встреч проекта </text>
        </div>
        <div class="events-title-photo"></div>
    </div>
    </div>
</div>
<div class="background-2-events">
    <div class="events-our-project">
        <div class="events-our-project-title" data-th-text="#{events.our_project_title}"></div>
        <div class="events-our-project-square-field">
            <div class="events-our-project-square">
                <div class="events-our-project-square-number"> <text>4</text></div>
                <div class="events-our-project-square-text"><text>города</text></div>
            </div>
            <div class="events-our-project-square-transparent"></div>
            <div class="events-our-project-square">
                <div class="events-our-project-square-number"> <text>120</text></div>
                <div class="events-our-project-square-text"><text>выставочных дней</text></div>
            </div>
            <div class="events-our-project-square">
                <div class="events-our-project-square-number"> <text>25</text></div>
                <div class="events-our-project-square-text"><text>стендов с историей</text></div>
            </div>
            <div class="events-our-project-square-transparent"></div>
            <div class="events-our-project-square">
                <div class="events-our-project-square-number"> <text>5</text></div>
                <div class="events-our-project-square-text"><text>лекций</text></div>
            </div>
            <div class="events-our-project-square">
                <div class="events-our-project-square-number"> <text>1</text></div>
                <div class="events-our-project-square-text"><text>сайт</text></div>
            </div>
            <div class="events-our-project-square">
                <div class="events-our-project-square-number"> <text>30+</text></div>
                <div class="events-our-project-square-text"><text>постов в социальных сетях</text></div>
            </div>
        </div>
    </div>
</div>
<div class="background-3-events">
    <div class="events-announcements" id="events">
        <div class="events-announcements-title">
            <text>Анонсы</text>
        </div>
        <div th:each="event, iterStat : ${eventList}" th:class="${iterStat.index < 3} ? 'item' : 'item collapsible'">
            <div class="item-img">
                <img th:src="${event.titleImage}" th:alt="${event.title}">
            </div>

            <!-- Контентный блок -->
            <div class="item-content">
                <div class="title" th:text="${event.title}"></div>
                <div class="text" th:utext="${event.announcement}"></div>

                <!-- Блок адреса -->
                <div class="info-row">
                    <div class="events-map-pin-icon"></div>
                    <div class="address" th:text="${event.city + ', ' + event.address}"></div>
                </div>

                <!-- Блок даты -->
                <div class="info-row">
                    <div class="events-clock-icon"></div>
                    <div class="time" th:text="${dateFormatter.get(event.dateTime)}"></div>
                </div>
            </div>

            <div class="item-button">
                <div class="item-button-img"></div>
                <a class="item-btn" th:href="|/event/${event.id}|"></a>
            </div>
        </div>
    </div>
    <button id="hide-btn" class="hide-btn">Показать все</button>
</div>
    <div class="background-4-events">
        <!-- АВТОМАТИЧЕСКИЕ МОДАЛКИ (Цикл по твоему photoSet) -->
        <div th:each="photo, iterStat : ${photoSet}"
             th:id="${iterStat.index == 0} ? 'open-modal' : 'open-modal' + ${iterStat.index}"
             class="events-modal-window">

            <!-- Кнопка ЗАКРЫТЬ (теперь она всегда в углу экрана) -->
            <a th:href="@{/events#photo}" title="Закрыть" class="events-modal-close">×</a>

            <div class="events-modal-main-content">
                <!-- Контейнер-якорь для фото и стрелок перелистывания -->
                <div class="modal-img-wrapper">
                    <!-- Стрелка НАЗАД -->
                    <a th:if="${!iterStat.first}"
                       th:href="${iterStat.index == 1} ? '#open-modal' : '#open-modal' + (${iterStat.index} - 1)"
                       class="modal-nav-btn prev-btn">‹</a>

                    <img th:src="${photo.path}" alt="Event Photo">

                    <!-- Стрелка ВПЕРЕД -->
                    <a th:if="${!iterStat.last}"
                       th:href="'#open-modal' + (${iterStat.index} + 1)"
                       class="modal-nav-btn next-btn">›</a>
                </div>

                <!-- Подпись под фото из объекта Photo -->
                <div class="modal-caption" th:text="${photo.caption}">Подпись к фотографии</div>
            </div>
        </div>

        <!-- СЕКЦИЯ ФОТО (КАРУСЕЛЬ) -->
        <div class="events-photo-field">
            <div class="events-photo-title">
                <text>Фотографии с наших мероприятий</text>
            </div>
            <div class="events-photo-carousel" id="photo">
                <!-- Группа 1 (6 фото из базы) -->
                <div class="events-photo-carousel-group">
                    <a th:each="photo, iterStat : ${photoSet}"
                       th:href="${iterStat.index == 0} ? '#open-modal' : '#open-modal' + ${iterStat.index}"
                       class="events-photo-card">
                        <img th:src="${photo.path}" style="cursor:pointer;">
                    </a>
                </div>
                <!-- Группа 2 (Дубль для бесконечности) -->
                <div aria-hidden="true" class="events-photo-carousel-group">
                    <a th:each="photo, iterStat : ${photoSet}"
                       th:href="${iterStat.index == 0} ? '#open-modal' : '#open-modal' + ${iterStat.index}"
                       class="events-photo-card">
                        <img th:src="${photo.path}" style="cursor:pointer;">
                    </a>
                </div>
            </div>
        </div>

        <!-- СЕКЦИЯ ВИДЕО -->
        <div class="events-video-field">
            <div class="events-video-title">
                <text>Видео с наших мероприятий</text>
            </div>
            <div class="events-video-carousel">
                <div class="events-video-carousel-group">
                    <div class="events-video-card"></div>
                    <div class="events-video-card"></div>
                    <div class="events-video-card"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: main-footer"></div>
<script th:src="@{/js/hiding-elements.js}"></script>
</body>
</html>