<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <th:block th:replace="fragments/header :: header-meta"></th:block>

    <title data-th-text="#{title.history}"></title>
    <link th:href="@{/css/history.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: main-header"></div>
    <div class="background-1-history">
        <div class="history-title">
            <div class="history-title-line">
            </div>
            <div class="history-title-title" th:text="#{history.main.title}"></div>
            <div class="history-title-under-title" th:text="#{history.main.under_title}"></div>
            <div class="history-title-photo-description">
                <div class="history-title-photo-description-photo"></div>
                <div class="history-title-photo-description-description" th:utext="#{history.main.description}"></div>
            </div>
            <div class="history-title-text-under-photo" th:utext="#{history.main.image_description}"></div>
        </div>
    </div>
    <div class="history-background-between"></div>
    <div th:each="article : ${periodArticleList}">
        <div class="history-background-between"></div>
        <div th:block th:switch="${article.type}">
            <div th:case="1" class="background-2-history">
                <div class="history-period-1st-type">
                    <div class="history-period-1st-type-title-photo">
                        <div class="history-period-1st-type-title-photo-title" th:text="${article.centuryTitle}"></div>
                        <div class="history-period-1st-type-title-photo-img">
                            <img th:src="${article.titleImage}">
                        </div>
                    </div>
                    <div class="history-period-1st-type-photo-description" th:text="${article.titleImageDescription}"></div>
                    <div class="history-period-1st-type-main-group">
                        <div class="history-period-1st-type-group1">
                            <div class="history-period-1st-type-line1"></div>
                            <div class="history-period-1st-type-group1-title" th:text="${article.periodTitle}"></div>
                            <div class="history-period-1st-type-group1-text" th:text="${article.periodDescription}"></div>
                            <div class="history-period-1st-type-group1-line2"></div>
                            <div class="history-period-1st-btn">
                                <a class="biography-link" th:href="|/history_article/${article.id}|" data-th-text="#{index.about}"></a>
                            </div>
                        </div>
                        <div class="history-period-1st-type-text-field">
                            <div class="history-period-1st-type-text" th:utext="${article.shortArticle}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:case="2" class="background-2-history">
                <div class="history-period-2nd-type">
                    <div th:if="${article.partCenturyTitle != null}" class="history-period-2nd-type-title" th:text="${article.partCenturyTitle}"></div>
                    <div class="history-period-2nd-type-title-century" th:text="${article.centuryTitle}"></div>
                    <div class="history-period-2nd-type-main">
                        <div class="history-period-2nd-type-main-tdp">
                            <div class="history-period-2nd-type-line1"></div>
                            <div class="history-period-2nd-type-main-tdp-title" th:text="${article.periodTitle}"></div>
                            <div class="history-period-2nd-type-main-tdp-description" th:text="${article.periodDescription}"></div>
                            <div class="history-period-2nd-type-line-2"></div>
                            <div class="history-period-2nd-type-title-photo-img">
                                <img th:src="${article.titleImage}">
                            </div>
                            <div class="history-period-2nd-type-main-tdp-text-under-photo" th:text="${article.titleImageDescription}"></div>
                        </div>
                        <div class="history-period-2nd-type-text-field">
                            <div class="history-period-2nd-type-text" th:utext="${article.shortArticle}"></div>
                        </div>
                    </div>
                    <div class="history-period-2nd-btn">
                        <a class="biography-link" th:href="|/history_article/${article.id}|" data-th-text="#{index.about}"></a>
                    </div>
                </div>
            </div>
            <div th:case="3" class="background-2-history">
                <div class="history-period-3d-type">
                    <div th:if="${article.partCenturyTitle != null}" class="history-period-3d-type-title" th:text="${article.partCenturyTitle}"></div>
                    <div class="history-period-3d-type-title-century" th:text="${article.centuryTitle}"></div>
                    <div class="history-period-3d-type-main">
                        <div class="history-period-3d-type-main-text-field">
                            <div class="history-period-3d-type-text" th:utext="${article.shortArticle}"></div>
                        </div>
                        <div class="history-period-3d-type-main-tdp">
                            <div class="history-period-3d-type-line1"></div>
                            <div class="history-period-3d-type-main-tdp-title" th:text="${article.periodTitle}"></div>
                            <div class="history-period-3d-type-main-tdp-description" th:text="${article.periodDescription}"></div>
                            <div class="history-period-3d-type-line-2"></div>
                            <div class="history-period-3d-type-main-tdp-photo">
                                <img th:src="${article.titleImage}">
                            </div>
                            <div class="history-period-3d-type-main-tdp-text-under-photo" th:text="${article.titleImageDescription}"></div>
                        </div>
                    </div>
                    <div class="history-period-3d-btn">
                        <a class="biography-link" th:href="|/history_article/${article.id}|" data-th-text="#{index.about}"></a>
                    </div>
                </div>
            </div>
            <div th:case="4" class="background-2-history">
                <div class="history-period-4th-type">
                    <div class="history-period-4th-type-main">
                        <div class="history-period-4th-type-main-tp">
                            <div class="history-period-4th-type-main-tp-photo">
                                <img th:src="${article.titleImage}">
                            </div>
                            <div class="history-period-4th-type-main-tp-text-under-photo" th:text="${article.titleImageDescription}"></div>
                            <div class="history-period-4th-type-main-text-field">
                                <div class="history-period-4th-type-text" th:utext="${article.shortArticle}"></div>
                            </div>
                        </div>
                        <div class="history-period-4th-type-main-td">
                            <div class="history-period-4th-type-main-td-title-century" th:text="${article.centuryTitle}"></div>
                            <div class="history-period-4th-type-line1"></div>
                            <div class="history-period-4th-type-main-description-title" th:text="${article.periodTitle}"></div>
                            <div class="history-period-4th-type-main-description" th:text="${article.periodDescription}"></div>
                            <div class="history-period-4th-type-line-2"></div>
                        </div>
                    </div>
                    <div class="history-period-4th-btn">
                        <a class="biography-link" th:href="|/history_article/${article.id}|" data-th-text="#{index.about}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="history-background-between"></div>
</div>
<div th:replace="fragments/footer :: main-footer"></div>
</body>
</html>