<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <th:block th:replace="fragments/header :: header-meta"></th:block>

  <title data-th-text="${periodArticle.periodTitle}"></title>
  <link th:href="@{${manifest['history_article.css']}}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
  <div th:replace="fragments/header :: main-header"></div>
  <div class="background-1-article">
    <div class="article-title-photo">
      <img th:src="${periodArticle.image}">
      <div class="article-title-text" th:text="${periodArticle.centuryTitle}"></div>
      <div class="article-title-torn-edge"></div>
    </div>
  </div>
  <div class="background-2-history">
    <div class="article-title-field">
      <div class="article-title" th:text="${periodArticle.periodTitle}"></div>
    </div>
    <div class="article-body" th:utext="${periodArticle.article}"></div>
  </div>
</div>
<div th:replace="fragments/footer :: main-footer"></div>
</body>
</html>