<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <th:block th:replace="fragments/header :: header-meta"></th:block>

    <title data-th-text="#{title.main}"></title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: main-header"></div>
<div class="index-background">
        <div class="background-1">
            <div class="banner-img">
                <div class="main-title">
                    <text>Евангельские христиане</text>
                </div>
                <div class="main-title1">
                    <text>на службе России</text>
                </div>
                <div class="torn-edge1"></div>
            </div>
        </div>
        <div class="background-2">
            <div class="about-main">
                <div class="about-tiles-group">
                    <div class="about-tile">
                        <div class="title-1">
                            <text>150 ЛЕТ ИСТОРИИ</text>
                        </div>
                        <div class="text">
                            <text>— от первых евангельских общин
                                XIX века до современности.</text>
                        </div>
                    </div>
                    <div class="about-tile">
                        <div class="title">
                            <text>Передвижные выставки и лекции</text>
                        </div>
                        <div class="text">
                            <text>— проект знакомит жителей Калининградской области с историей через экспозиции и публичные встречи.</text>
                        </div>
                    </div>
                    <div class="about-tile">
                        <div class="title">
                            <text>ДЕСЯТКИ ГЕРОЕВ ВОЙНЫ</text>
                        </div>
                        <div class="text">
                            <text>— евангельские христиане
                                сражались и жертвовали жизнью
                                в годы Первой мировой и Великой
                                Отечественной войн.</text>
                        </div>
                    </div>
                    <div class="about-tile">
                        <div class="title">
                            <text>УНИКАЛЬНЫЕ ВИДЕОИНТЕРВЬЮ</text>
                        </div>
                        <div class="text">
                            <text>— живые свидетельства потомков, собранные специально для проекта.</text>
                        </div>
                    </div>
                </div>
                <div class="about-text-group">
                    <div class="about-text-group-title">
                        <text>Просвещение, сохранение памяти, разрушение стереотипов</text>
                    </div>
                    <div class="about-text-group-title2">
                        <text>“Евангельские христиане – часть российской истории, внесшая духовный и патриотический вклад”.</text>
                    </div>
                </div>
                <div class="more-btn">
                    <a class="link" th:href="@{/about}" th:text="#{index.about}"></a>
                </div>
            </div>
        </div>
        <div class="background-3">
            <div class="torn-edge2"></div>
            <div class="video-archive">
                <div class="video-archive-text-title">
                    <text>Видеоархив</text>
                </div>
                <div class="video-archive-text-title-2">
                    <text>"Они служили России"</text>
                </div>
                <div class="video-teasers">
                    <div class="video-teasers-tile"
                         th:each="hero, iterStat : ${heroSet}"
                         th:if="${iterStat.count <= 3}">
                        <div class="video-teasers-portraits">
                            <img th:src="${hero.smallPortrait}" class="cover">
                        </div>
                        <div class="video-teasers-title" th:text="${hero.videoTitle}"></div>
                        <a class="link" th:href="|/biography/${hero.id}|"></a>
                    </div>
                </div>
                <div class="more-btn-1">
                    <a class="link-1 a1" th:href="@{/biographies}" th:text="#{index.about}"></a>
                </div>
            </div>
            <div class="torn-edge3"></div>
        </div>
        <div class="background-4">
            <div class="announcements">
                <div class="announcements-row">
                    <div class="announcements-title-tile">
                        <div class="announcements-title">
                            <text>Анонсы</text>
                        </div>
                        <div class="announcements-title-2">
                            <text>Мы будем рады встрече с Вами на мероприятиях проекта.</text>
                        </div>
                        <div class="more-btn-2">
                            <a class="link" th:href="@{/events}" th:text="#{index.about}"></a>
                        </div>
                    </div>
                    <div class="announcements-1st-row-announce-tile-field">
                        <div class="announcements-tile" th:each="event, iterStat :${eventList}"
                             th:if="${iterStat.count <= 2}">
                            <img th:src="${event.announceImage}">
                            <div class="announcements-tile-content-box">
                                <a class="announcement-btn" th:href="|/event/${event.id}|"></a>
                                <div class="anons-title-1" th:text="${event.title}"></div>
                                <div class="anons-title-2" th:utext="${event.announcement}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="announcements-main-row">
                    <div th:each="event, iterStat :${eventList}"
                         th:if="${iterStat.count > 2}"
                         th:class="${iterStat.count % 3 == 0} ? 'announcements-1st-tile' : 'announcements-tile'">
                        <img th:src="${event.announceImage}">
                        <div class="announcements-tile-content-box">
                            <a class="announcement-btn" th:href="|/event/${event.id}|"></a>
                            <div class="anons-title-1" th:text="${event.title}"></div>
                            <div class="anons-title-2" th:utext="${event.announcement}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: main-footer"></div>
</body>
</html>