<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <th:block th:replace="fragments/header :: header-meta"></th:block>
    <title data-th-text="#{title.privacy_policy}"></title>
    <link th:href="@{${manifest['privacy_policy.css']}}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: main-header"></div>
    <div class="background-1-privacy-policy">
        <div class = "privacy-policy-title" data-th-text="#{privacy_policy.title}"></div>
        <div class ="privacy-policy-body" th:utext="#{privacy_policy.text}"></div>
    </div>
</div>
<div th:replace="fragments/footer :: main-footer"></div>
</body>
</html>